<h1> GAME OVER! </h1>

<h2> <%= @game.player1.name %> wins!  </h2>

<h2> Player 1: <%= @game.player1.name %> - HP: <%= @game.player1.hit_points %></h2>
<h2> Player 2: <%= @game.player2.name %> - HP: <%= @game.player2.hit_points %></h2>